.title {
  color: #fff;
  font-weight: normal; }

.navbar {
  width: 100%; }
  .navbar-toggler {
    cursor: pointer;
    outline: 0; }
  .navbar .nav-link {
    text-transform: uppercase;
    font-weight: bold; }
    .navbar .nav-link:hover {
      color: #fff !important;
      background-color: #005ca7; }

.carousel-item {
  height: 500px;
  background-color: blue; }
